theme = "Atom One Dark"
font-family = "Maple Mono NF"
macos-icon = blueprint
 
working-directory = ~/Documents/SourceCode/Lululemon
faint-opacity = 1
font-size = 16
font-thicken = false
font-style = bold
adjust-cell-height = 5
unfocused-split-opacity = 1
mouse-hide-while-typing = true
mouse-reporting = false
cursor-style = underline
cursor-style-blink = false
shell-integration-features = no-cursor
macos-icon = custom
macos-custom-icon = ~/.config/ghostty/ghostty-mac-2.icns